<!DOCTYPE html>
<html>
<head>
	<title>The Bang Theory</title>
</head>
<body>
	<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
      <title>The Big Bang Theory</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      

      <style>
        table, th, td {border: 0.5px solid black;}
      </style>
    </head>
  <body>
    <div id="topbar1">

    <div class="right">
		<a href = "/" class =  "btn btn-danger main_bar all_button button" id = "donor">Sign Out</a>
		</div>
<a href = "/home_signed_in" class =  "btn btn-danger main_bar all_button button" id = "donor">Home</a>
<a href = "/char" class =  "btn btn-danger main_bar all_button button" id = "donor">Casting</a>
    <br>


    <div id=char>
    <div id=center>
    <h2><font color="white">The Big Bang Theory cast:</font></h2>
 </div>

<div id="vidss">
<iframe width="756" height="425" src="https://www.youtube.com/embed/sm_NdpCrhcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/ZyvfnZoFvnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/N1A7IEB6q0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/bnD_PLKqKZw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/7ZtVgzTy3_Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/ZJQsMMoqGMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/-CNmVqbx3TM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/HCkvzM7JzSY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/VK-b1CtIATw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/DW9WXMp7RDo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="756" height="425" src="https://www.youtube.com/embed/olIXQYs78O8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


	</div>


</body>
</html>